<!-- ECU Remap Section -->
    <section id="ecuremap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ECU Remapping Services</h2>
                    <h3 class="section-subheading text-muted">
                        <span class="stresstext">Unlock</span> and <span class="stresstext">Unleash</span> your vehicle full potential by qualified professional ECU calibration specialists. 
                    <p></p>
                    <p>Improve your vehicle performance, drivability, and fuel mileage.</p>
                    <p></p>
                    <p class="section-subheading text-muted">We offer a wide range of ECU Remapping for Cars, Pickups, Trucks, and Bikes.</p>
                    <p class="section-subheading text-muted">From the <span class="stresstext">UK's leading remapping development company</span>, Quantum Tuning, we are the authorized dealer and member of Quantum Tuning network.</p>
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">ECU Reprogramming/Remapping</h4>
                    <p class="text-muted text-left">ECU Reprogramming or Remapping is the process of modifying the data read from the <span class="stresstext">Engine Control Unit (ECU)</span>. The standard vehicle engine control maps stored in the ECU are read using professional equipment. We then make adjustments to the engine control parameters such as fuel pressure, injection quantity, boost pressure, ignition, and throttle control. These parameters changes the behavior of the engine, performance, and drivability.
                    </p>
                    <p class="text-muted text-left">The standard maps from the vehicle manufacturer was developed with multiple consideration factors taken such as all driving conditions, component safety factors, and regions that the model are sold. In order to meet all of the requirements, the maps are calibrated well under the limits or the optimum power. <span class="stresstext">This gap between the original maps and the limits are the ‘hidden’ performances that ECU remapping will unleash.</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Chip Tuning</h4>
                    <p class="text-muted text-left">The term ‘Chip Tuning’ refers back to 1980s where there are no On Board Diagnostics (OBD) port to diagnose data in the early model of ECUs. Back then, reprogramming or remapping the ECU are done by directly accessing the physical memory components of the ECU. This means that the ECU must be taken out of the vehicle, disassembled and actually take off the memory chip from the ECU board.
                    </p>
                    <p class="text-muted text-left">Nowadays, OBD port is equipped as a standard in every vehicle and can be used to access the data of the ECU without requiring physical access to the ECU. However, there are some models that OBD port cannot be used to reprogram the ECU. These models <span class="stresstext">requires direct access to the ECU, but without removing any ECU components.</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <a class="page-scroll" href="#about"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                    </span></a>
                    <h4 class="service-heading">OBD Remapping</h4>
                    <p class="text-muted text-left">Vehicles manufactured since the year 2000 are equipped with <span class="stresstext">OBD-II</span> port as a mandatory standard specification. With this OBD-II port, there are protocols to read and write the memory contents of the ECU without accessing the actual hardware. Reprogramming or remapping via OBD-II port is the most common way to remap the vehicle today.
                    </p>
                    <p class="text-muted text-left"><span class="stresstext">Without having to remove any hardware from the vehicle</span>, remapping is done easier, safer, and quicker. Remapping tool connects securely to the OBD-II port to read and write the maps data of the ECU.
                    </p>

                </div>
            </div>
            <div class="row text-center">
                <a href="http://thailand.quantum-tuning.com" class="btn btn-xl">Read More <br/>on our dealer website</a>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Economy Remapping</h4>
                    <p class="text-muted text-left">Our <span class="stresstext">Economy Remapping</span> works on diesel vehicles by changing the power and efficiency points of the engine, delivering more power and torque. Having more power reduces load of the engine while giving the ability to get to higher gear sooner for longer resulting in improved fuel mileage. Our customers will see <span class="stresstext">fuel improvements of 8-10% on most diesel vehicles.</span> Great for commercial vehicle and fleets where saving really counts!
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Performance Remapping</h4>
                    <p class="text-muted text-left">We developed <span class="stresstext">Performance Remapping</span> to work on standard vehicle maintaining manufacturer levels of reliability and original service intervals. Designed to fully unleash the full potential of your engine, greater throttle response, overtaking ability, engine smoothness and in some cases, better fuel economy, with <span class="stresstext">performance gains up to 35%.</span> Performance Remapping works on both diesel and petrol vehicles. Ideally used in situations where the <span class="stresstext">extra power and torque</span> is required for example moving extra heavy loads, running optimised acceleration, experiencing a wider torque window, or simply to <span class="stresstext">enjoy your vehicle.</span></p>
                </div>
                <div class="col-md-4">
                    <a class="page-scroll" href="#about"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sliders fa-stack-1x fa-inverse"></i>
                    </span></a>
                    <h4 class="service-heading">EGR Solutions</h4>
                    <p class="text-muted text-left">Standard vehicles are equipped with <span class="stresstext">Exhaust Gas Recirculation (EGR)</span> system to reduce emissions such as NOx. Some of the exhaust recirculates back to the intake of the engine with aim to reduce emission. However, exhaust gas contains carbon deposits which can build up in the intake manifold over time. Carbon deposits con sometimes lead to EGR failure which is expensive to replace. Our <span class="stresstext">advance EGR solution</span> disable the EGR valves by reprogramming the software without having to remove or add any hardware. Disabling EGR results in <span class="stresstext">reduced engine temperature, improved throttle response and economy and also can lengthen engine life by reducing oil contamination and carbon deposits.</span></p>
                </div>
            </div>
        </div>
        <div class="row text-center">
                <a href="http://thailand.quantum-tuning.com/vehicle-directory.aspx" class="btn btn-xl">Find your vehicle's potential</a>
        </div>
    </section>